body {
    background: linear-gradient(to right, rgba(80, 139, 56, 0.486), rgb(51, 119, 51) );
    font: normal 15pt Arial, sans-serif;
}

header h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

section {
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: white;
    text-align: center;
}

#res {
     margin-top: 10px;
}
 #botao {
     padding: 10px 20px;
     border-radius: 20px;
     border: 3px solid rgb(90, 150, 84);
     background: rgb(0, 0, 0);
     color: white;
     margin-left: 200px;
     
 }

 @media(max-width: 480px) {
     section {
         width: 250px;
         padding: 10px;
     }
     p {
         font-size: 10px;
     }
     #botao {
         margin-left: 0px;
     }
     #res {
         font-size: 10px;
     }
 }
